{% trans_default_domain 'purrlib_maintenance' %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ 'purrlib_maintenance.title'|trans }}</title>
</head>
<body>
<h1>{{ 'purrlib_maintenance.message'|trans }}</h1>
</body>
</html>